<ion-header>

  <ion-navbar>
      <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="has-header home-page">
  <div class="category-list">
     
      <ion-grid class="grey-bg">
          <ion-row class="image-avatar">
           
            <ion-slides loop slidesPerView="3.5">
                <ion-slide 
                    *ngFor="let category of categoryList; let i=index">
                    <!-- <img *ngIf="category.category_image !=null" [src]="category.category_image"
                        class="slide-image" />
                    <img *ngIf="category.category_image ==null" src="assets/imgs/no-image.png" /> -->
                    <img class="slide-image" *ngIf="category.child.length == 0" (click)="gotoProList(category.category_id)" [src]="category.category_image != null ? category.category_image : 'assets/imgs/no-image.png'">
                    <img class="slide-image" *ngIf="category.child.length !=0" (click)="gotoSubCatPage(category.category_id)" [src]="category.category_image != null ? category.category_image : 'assets/imgs/no-image.png'">
                    <span class="home-cat-title">{{category.category_name}}</span>
                </ion-slide>
            </ion-slides>
          </ion-row>
      </ion-grid>
  </div>
  <hr>

  <div class="custom-slider mt-7 bg-orange latest-list" *ngIf="popular_product_list?.length > 0">
      <ion-title class="headline font-white">Popular Fashion</ion-title>
      <ion-slides loop slidesPerView="2.4">
          <ion-slide *ngFor="let popularProduct of popular_product_list let i=index">

              <ion-card (click)="gotoProDetails(popularProduct.product_id)">
                  <img [src]="popularProduct.product_img" class="slide-image" />
                   <button ion-button color="btn-orange">
                      <span class="regular-price" *ngIf="popularProduct.price > popularProduct.price_sale">₹
                          {{popularProduct.price}} </span>
                      <span>₹ {{popularProduct.price_sale}} </span>
                  </button>
                  <ion-card-content>
                      <p>{{popularProduct.product_name}}</p>
                    
                  </ion-card-content>
              </ion-card>
          </ion-slide>

      </ion-slides>
  </div>
  <div class="custom-slider">

      <ion-grid class="custom-slider resent-sec">
          <ion-row>
              <ion-col col-6 *ngFor="let randomPro of ramdom_pro_list | slice:0:4; let i=index">
                  <ion-card class="card-background-page" (click)="gotoProDetails(randomPro.product_id)">

                      <span>{{randomPro.product_name}} <b> Rs:{{randomPro.price_sale}}</b> </span>

                      <!-- <img src="assets/imgs/slder1.png" /> -->
              <img *ngIf="randomPro.product_img !=null"  [src]="randomPro.product_img" />
              <img *ngIf="randomPro.product_img ==null" src="assets/imgs/no-image.png" />


                  </ion-card>
              </ion-col>
              <!-- <ion-col col-12 class="view-more">
                  <button ion-button color="danger" outline (click)="gotoProductList('ProductlistPage')">View More</button>
              </ion-col> -->

          </ion-row>

      </ion-grid>

  </div>
  <div class="custom-slider  bg-black ">
      <hr>

      <ion-title class="headline font-white ">Latest Fashion</ion-title>

      <ion-grid class="custom-slider round-sec">
          <ion-row>
              <ion-col col-6 *ngFor="let latestPro of latest_product_list | slice:0:4; let i=index">
                 
                  <ion-card (click)="gotoProDetails(latestPro.id)" class="latest-fashion">
                      <img [src]="latestPro.images[0].src" class="slide-image" />
                       <button ion-button color="btn-orange">
                          <span class="regular-price" *ngIf="latestPro.product_regular_price > latestPro.product_sell_price">₹
                              {{latestPro.product_regular_price}} </span>
                          <span>₹ {{latestPro.product_sell_price}} </span>
                      </button>
                      <ion-card-content>
                          <p>{{latestPro.name}}</p>
                        
                      </ion-card-content>
                  </ion-card>
              </ion-col>
            
              <!-- <ion-col col-12 class="view-more">
                  <button ion-button color="danger" (click)="gotoProductList('ProductlistPage')">View More</button>
              </ion-col> -->

          </ion-row>

      </ion-grid>

  </div>

</ion-content>

<ion-footer>
  <page-footer></page-footer>
</ion-footer>