page-filter {

        z-index: 9999;
        width: 350px !important;
        height: 500px !important;
        background: #fff !important;
        top: 14% !important;
        left: 25% !important;
 
}
