<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Product List</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="bar bar-subheader">
        <div class="top-search">
            <ion-row>
                <ion-col col-8>
                    <ion-searchbar [(ngModel)]="searchKeywords"></ion-searchbar>
                </ion-col>
                <ion-col col-2> <button ion-button (click)="searchProduct(searchKeywords)">
                        <ion-icon name="search"></ion-icon>
                    </button></ion-col>
                <!-- <ion-col col-2 >
                        <button (click)="filterProductModal()" ion-button>
                        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
                        </button>
                </ion-col> -->
                <ion-col col-2>
                    <button (click)="filterProductModal()" ion-button>
                        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
                    </button>
                </ion-col>
                <!-- <ion-col col-2>
                    <ion-list>
                        <ion-item>
                            <ion-label>
                                2
                            </ion-label>
                            <ion-select [(ngModel)]="gaming">
                                <ion-option value="nes">NES</ion-option>
                                <ion-option value="n64">Nintendo64</ion-option>
                                <ion-option value="ps">PlayStation</ion-option>
                                <ion-option value="genesis">Sega Genesis</ion-option>
                                <ion-option value="saturn">Sega Saturn</ion-option>
                                <ion-option value="snes">SNES</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col> -->


            </ion-row>
        </div>
        <!-- <ion-slides slidesPerView="3.2">
            <ion-slide>
                <span class="active">Best Match</span>
            </ion-slide>
            <ion-slide>
                <span>Top Rated</span>
            </ion-slide>
            <ion-slide>
                <span>Price Low-High</span>
            </ion-slide>
            <ion-slide>
                <span>Price High-Low</span>
            </ion-slide>
        </ion-slides> -->
    </div>

    <div class="product-list" *ngIf="product_list?.length > 0">
        <ion-grid *ngIf="visible_key">
            <ion-row *ngIf="product_list.length > 0  && FilterResult==0">
                <ion-col col-6 class="product-price" *ngFor="let product of product_list let i=index">
                    <ion-card (click)="gotoProDetails(product.id)">
                        <!-- <img class="cart-icon-image" src="assets/imgs/icon-cart.png" /> -->
                        <!-- <img class="product-image" src="assets/imgs/img1.png" /> -->
                        <!-- <img class="product-image" [src]="product.images[0].src" /> -->
                        <img *ngIf="product.images.length >0 " class="product-image" [src]="product.images[0].src" />
                        <img *ngIf="product.images.length ==0 " class="product-image" src="assets/imgs/no-image.png" />
                        <ion-card-content>
                            <ion-card-title>
                                {{product.name}}
                            </ion-card-title>
                            <hr>
                            <ion-row>
                                <ion-col col-6>
                                    <!-- <span class="price">
                                        <i class="fa fa-rupee"></i>{{product.price}}
                                    </span> -->
                                    <span class="regular-price" *ngIf="product.product_regular_price > product.product_sell_price"><i class="fa fa-inr" aria-hidden="true"></i> {{product.product_regular_price}}</span>
                                    <span> <i class="fa fa-inr" aria-hidden="true"></i> {{product.product_sell_price}}</span>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;"> <span class="rating active"
                                        *ngFor="let rat of rating; let i = index"
                                        [ngClass]="[i <= 0 - 1 ? 'active' : '']" style="margin-right: 2px;">
                                        <ion-icon name="star"></ion-icon>
                                    </span></ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="visible_key">
            <ion-row *ngIf="product_list.length > 0 && FilterResult==1">
                <ion-col col-6 class="product-price" *ngFor="let product of product_list let i=index">
                    <ion-card (click)="gotoProDetails(product.product_id)">
                        <img class="product-image" [src]="product.product_img" />
                        <ion-card-content>
                            <ion-card-title>
                                {{product.product_name}}
                            </ion-card-title>
                            <hr>
                            <ion-row>
                                <ion-col col-12>
                                    <span class="price">
                                        <i class="fa fa-rupee"></i>{{product.sale_price}}
                                        <!-- <ion-icon name="ios-arrow-dropright-outline"></ion-icon> -->
                                    </span>
                                </ion-col>
                                <!-- <ion-col col-6 style="text-align: right;"> 
                                    
                                    <span class="rating active" *ngFor="let rat of rating; let i = index"
                                    [ngClass]="[i <= product.average_rating - 1 ? 'active' : '']" style="margin-right: 2px;">
                                        <ion-icon name="star"></ion-icon>
                                    </span></ion-col> -->
                            </ion-row>

                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
      
        <!-- <p *ngIf="product_list?.length==0" class="error-msg"> No records Found!!!</p> -->
        
    </div>
    <div class="no-record-found" *ngIf="product_list?.length==0">
       <img src="assets/imgs/no-record.png">
       <h4>No Records Found</h4>
    </div>

</ion-content>

<ion-footer>
    <page-footer></page-footer>
</ion-footer>